@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Conta Bloqueada";
}
<main class="container mt-5 text-center">
    <h1 class="text-danger">Conta Bloqueada</h1>
    <p>Esta conta está temporariamente bloqueada devido a várias tentativas de login incorretas. Tente novamente mais tarde.</p>
</main>
